<div class="row" id="edit-box">
  <div class="col s8 offset-s2 ">
    <div class="card hoverable">
      <div class="card-content">
        <span class="card-title center">Edição de Aluno</span>
        <%= form_with(model: [:sec,@aluno]) do |f| %>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>


          <div class="form_group">
            <%= f.label :matricula %><br />
            <%= f.number_field :matricula %>
          </div>

          <div class="form_group">
            <%= f.label :nome %><br />
            <%= f.text_field :nome, autocomplete: "name" %>
          </div>

          <h6>Turma</h6>
          <% @turmas.each do |turma| %>
            <div>
              <label>
                <%= f.radio_button :turma_id, turma.id %>
                <span id="p"><%="#{turma.nome} com professor #{turma.user.name}"%></span>
              </label>
            </div>
          <% end %>

          <div>
            <%= f.submit "Salvar", class: 'waves-effect waves-teal btn-flat teal lighten-1' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
