<h1>Alunos</h1>
<%= link_to 'Voltar', :back %>

<table class="highlight">
  <tr>
    <th>Nome</th>
    <th>Matrícula</th>
    <th>Email</th>
    <th></th>
  </tr>

  <% @aluno.each do |aluno| %>
    <tr>
      <td><%= aluno.nome %></td>
      <td><%= aluno.matricula %></td>
      <td><%= aluno.email %></td>
      <td><%= link_to 'Editar', edit_sec_aluno_path(aluno) %></td>
    </tr>
  <% end %>
</table>
