<div class="row" id="login-box">
  <div class="col s8 offset-s2 ">
    <div class="card hoverable">
      <div class="card-content">
        <span class="card-title center">Criação de Usuario</span>
          <%= form_for(User.new, as: 'user', url: create_user_url) do |f| %>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <div class="form_group">
              <%= f.label :matricula %><br />
              <%= f.number_field :matricula %>
            </div>

            <div class="form_group">
              <%= f.label :nome %><br />
              <%= f.text_field :name, autocomplete: "name" %>
            </div>


            <div class="field">
              <%= f.label :password %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password" %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>

              <label>
                <%= f.radio_button :role, 'professor' %>
                <span>Professor</span>
              </label>

            <label>
              <%= f.radio_button :role, 'sec' %>
              <span>Secretário</span>
            </label>

            <label>
              <%= f.radio_button :role, 'admin' %>
              <span>Admin</span>
            </label>

            <div class="actions">
              <%= f.submit "Sign up", class: 'btn' %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>

