<h1>Turmas</h1>
<%= link_to 'Voltar', :back %>

<table class="highlight">
  <tr>
    <th>Nome</th>
    <th>Horario de Inicio</th>
    <th>Horario de Termino</th>
    <th>Dia</th>
    <th>Carga Horaria Minima</th>
    <th>Carga Horaria Total</th>
    <th>Professor</th>
    <th>Número de Alunos</th>
    <th></th>
    <th></th>
  </tr>

  <% @turma.each do |turma| %>
    <tr>
      <td><%= turma.nome %></td>
      <td><%= turma.inicio.strftime('%H:%M') %></td>
      <td><%= turma.fim.strftime('%H:%M') %></td>
      <td><%= turma.dias %></td>
      <td><%= turma.carga_minima %></td>
      <td><%= turma.carga_maxima %></td>
      <% if turma.user %>
        <td><%= turma.user.name %></td>
      <% else %>
        <td><%= link_to 'Adicionar', edit_sec_turma_path(turma) %></td>
      <% end %>
      <td><%= Aluno.where(turma_id: turma.id).length %></td>
      <td><%= link_to 'Editar', edit_sec_turma_path(turma) %><br>
        <%= link_to 'Remover', sec_turma_path(turma), method: :delete, data: { confirm: 'Tem certeza?'} %></td>
        <% if turma.cheio %>
          <strong>Cheio!</strong>
        <% end %>
    </tr>
  <% end %>
</table>
