<div class="row" id="login-box">
  <div class="col s8 offset-s2 ">
    <div class="card hoverable">
      <div class="card-content">
        <span class="card-title center">Criar Turma</span>
        <%= form_with(model: [:sec,@turma]) do |f| %>

          <div class="field">
            <%= f.label :nome %><br />
            <%= f.text_field :nome, autofocus: true, autocomplete: 'name' %>
          </div>

          <div class="field">
            <%= f.label :inicio %><br />
            <%= f.text_field :inicio %>
          </div>

          <div class="field">
            <%= f.label :fim %><br />
            <%= f.text_field :fim %>
          </div>

          <div class="field">
            <%= f.label :dia %><br />
            <%= f.text_field :dias %>
          </div>
          <div class="field">
            <%= f.label 'carga horária minima' %><br />
            <%= f.text_field :carga_minima %>
          </div>

          <div class="field">
            <%= f.label 'carga horária maxima' %><br />
            <%= f.text_field :carga_maxima %>
          </div>

          <div class="field">
            <%= f.label 'capacidade' %><br />
            <%= f.text_field :capacidade %>
          </div>




          <div>
            <%= f.submit "Criar", class: 'waves-effect waves-light btn teal lighten-1' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

