<div class="row" id="edit-box">
  <div class="col s8 offset-s2 ">
    <div class="card hoverable">
      <div class="card-content">
        <span class="card-title center"><%= resource_name.capitalize %></span>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.label :login %><br />
              <%= f.text_field :login, autofocus: true %>
            </div>

            <div class="field">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "current-password" %>
            </div>

          <div>
            <%= f.submit "Log in", class: 'waves-effect waves-teal btn-flat teal lighten-1' %>
          </div>
          <% end %>

      </div>
      <div class="card-action">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>






