<div class="row" id="edit-box">
  <div class="col s8 offset-s2 ">
    <div class="card hoverable">
      <div class="card-content">
        <span class="card-title center">Edição de Usuario</span>
        <%= form_with(model: [:admin,@user]) do |f| %>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="form_group">
            <%= f.label :matricula %><br />
            <%= f.number_field :matricula %>
          </div>

          <div class="form_group">
            <%= f.label :nome %><br />
            <%= f.text_field :name, autocomplete: "name" %>
          </div>


          <label>
            <%= f.radio_button :role, 'professor' %>
            <span>Professor</span>
          </label>

          <label>
            <%= f.radio_button :role, 'sec' %>
            <span>Secretário</span>
          </label>

          <label>
            <%= f.radio_button :role, 'admin' %>
            <span>Admin</span>
          </label>

          <%= f.submit "Salvar", class: 'waves-effect waves-teal btn-flat teal lighten-1 right' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
