<div class="row" id="edit-box">
  <div class="col s8 offset-s2 ">
    <div class="card hoverable">
      <div class="card-content">
        <span class="card-title center">Edição de Usuario</span>
        <%= form_with(model: [:admin,@user]) do |f| %>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <% unless current_user.role == 'professor' %>

            <div class="form_group">
              <%= f.label :matricula %><br />
              <%= f.number_field :matricula %>
            </div>

            <div class="form_group">
              <%= f.label :nome %><br />
              <%= f.text_field :name, autocomplete: "name" %>
            </div>

          <% end %>
          <div>
            <%= f.submit "Salvar", class: 'waves-effect waves-teal btn-flat teal lighten-1' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
