<h1>Usuários</h1>

<table class="highlight">
  <tr>
    <th>Nome</th>
    <th>Matrícula</th>
    <th>Função</th>
    <th>Email</th>
    <th></th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.matricula %></td>
      <td><%= user.role %></td>
      <td><%= user.email %></td>
      <td><%= link_to 'Editar', root_path(user) %></td>
    </tr>
  <% end %>
</table>