<!DOCTYPE html>
<html>
  <head>
    <title>SistemaProfessores</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper teal darken-3">
          <a href="/" class="brand-logo center">Sistema de Professores</a>
          <ul class="left">
            <% if user_signed_in? &&  !(current_user.professor?) %>
              <li><%= link_to'Usuarios', admin_users_path %></li>
            <% end %>
            <% if user_signed_in? &&  !(current_user.professor?) %>
              <li><%= link_to 'Alunos', sec_alunos_path %></li>
            <% end %>
          </ul>
          <ul class = 'right'>
            <% if user_signed_in? %>
             <li><%= link_to 'Turmas', sec_turmas_path %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>

    <div class="container">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
